<head>
  <meta charset="UTF-8">
  <title>fitness</title>
  <meta content="on" http-equiv="cleartype">
  <meta content="320" name="MobileOptimized">
  <meta content="True" name="HandheldFriendly">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <link href="favicon.ico" rel="shortcut icon">
  <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
</head>