@import "{}/client/stylesheets/globals";


.buttonbar {

	.navbar-default {
    background-color: #0B5379;
    border-color: transparent;
}


button.btn-default.btn {

	font-size: 25px;
	background-color:$brand-primary;
	border-color: transparent;
	color:$white-color;
}

.btn-group:first-child:not(:last-child) .btn:last-child {
  border-right-color: $white-color;
}

}

