<template name="buttonbar">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default js-button-map">
          <i class="mdi mdi-map-marker"></i>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default js-button-feed">
          <i class="mdi mdi-rss"></i>
        </button>
      </div>
    </div>
  </nav>
</template>