@import "{}/client/stylesheets/globals";

.training-plan {
  &.plan3 {
    .input-group {
      margin-bottom: 15px;
    }

    button {
      margin-top: 15px;
      margin-right: 10px;

    }
  }
}
