.brand-primary-color {
  color: $brand-primary;
}

.brand-primary-bg {
  background: $brand-primary;
}

.brand-secondary-color {
  color: $brand-secondary;
}

.brand-secondary-bg {
  background: $brand-secondary;
}