// Left to right orientation as standard; can be overwritten for a RTL design
$left: left;
$right: right;
// Standard Section Spacings
$section-spacing-top: 30px;
$section-spacing-bottom: 50px;
$section-to-footer-spacing: 70px;
// Menu bar dimensions
$menubar-width-narrow: 56px;
$menubar-width-wide: 190px;
$menubar-height: 50px;