// main menu
$navbar-height: 50px;
//$navbar-default-bg: transparentize($concats-menu-background-color, 0.05);
$navbar-default-border: #d1d1d1;
//$navbar-default-link-color: $concats-menu-text-color;
$navbar-default-link-active-bg: $brand-secondary;
$navbar-default-link-active-color: $white-color;

// Buttons
$btn-primary-bg: $brand-secondary;
$btn-secondary-bg: $brand-accent;
$btn-secondary-color: $white-color;

//$btn-default-color: $white-color;
// Spacing between icon and text on buttons
$btn-icon-spacing: 8px;